@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  width: 71.4%; 
  margin: 0 auto;
}

/* common styling start here*/
body {
  color: var(--black-color);
  font-family: 'Poppins', sans-serif;
}

.flex { display: flex; }

.heading {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-content {
  color: var(--font-color);
  font-size: 12px;
}

/* common styling end here*/

:root {
  --white-color : #fff;
  --black-color : #333;
  --red-color : #F1545F;
  --section-bg-color : #222;
  --secondary-bg-color : #f9f9f9;
  --font-color : #707070;
}

/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 28px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.header .wrapper { justify-content: space-between; }

.logo {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-item,
.logo {
  color: var(--white-color);
}

.nav-item {
  padding: 10px 11px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-nav { padding-right: 0; }


.bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  display: block;
  background-color: var(--black-color);
  text-indent: -9999px;
}

.hamburger { display: none; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*------------------------------------------------ banner styling start here ------------------------------------------------ */
.banner {
  padding: 255px 0;
  position: relative;
  color: var(--white-color);
  overflow: hidden;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.banner-video {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner .wrapper { justify-content: center; }

.event-date,
address {
  display: inline-block;
  letter-spacing: 2px;
}

.event-date {
  display: inline-block;
  margin: 17px 0 8px;
  font-size: 20px;
  font-weight: 600;
}

.banner-content { text-align: center; }

.banner-heading {
  margin-bottom: 40px;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 2px;
}

.learn-cta,
.register-cta {
  padding: 9px 35px;
  color: var(--white-color);
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

.learn-cta {
  margin-right: 9px;
  border: 2px solid var(--white-color);
}

.register-cta {
  padding: 11px 38px;
  background-color: var(--red-color);
}
/*------------------------------------------------ banner styling end here ------------------------------------------------ */
/*------------------------------------------------ overview styling start here ------------------------------------------------ */
.overview-section {
  padding: 118px 0 145px;
}

.overview-content-box {
  padding-right: 2%;
  margin-right: 2%;
  flex-basis: 50%;
}

.overview-image {
  flex-basis: 49%;
}

.overview-heading {
  margin: 16px 0 20px;
  font-size: 21px;
  font-weight: 600;
  line-height: 30px;
}

.overview-content {
  margin-bottom: 10px;
  color: var(--font-color);
  font-size: 12px;
  line-height: 20px;
}
/*------------------------------------------------ overview styling end here ------------------------------------------------ */
/*------------------------------------------------ event details section styling start here ------------------------------------------------ */
.event-details-section {
  padding: 85px 0;
  background-color: var(--section-bg-color);
  color: var(--white-color);
}

.event-info-list {
  margin-bottom: 8px;
  gap: 1%;
}

.event-info-item {
  margin-right: 1%;
  flex-basis: 32%;
  text-align: center;
}

.event-info-item:nth-child(3n) {
  margin-right: 0;
}

.info-icon,
.event-info-title {
  display: block;
}

.info-icon {
  text-indent: -9999px;
}

.info-icon::before {
  margin-bottom: 18px;
  content: "\f0c0";
  width: 100%;
  color: #EF545F;
  font-size: 40px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.watch::before { content: "\f017"; }
.mic::before { content: "\f130";}

.event-info-title {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 600;
}

.event-info {
  color: var(--font-color);
  font-size: 12px;
  line-height: 20px;
}
/*------------------------------------------------ event details section styling end here ------------------------------------------------ */
/*------------------------------------------------ watch video section section styling start here ------------------------------------------------ */
.watch-video {
  padding: 82px 0;
}

.watch-video-content .heading {
  margin: 14px 0;
}

.watch-video-content {
  flex-basis: 52%;
}

.video {
  flex-basis: 49%;
}

.video-info.bold {
  margin-bottom: 18px;
  color: var(--black-color);
  font-size: 19px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
}

.video-info {
  color: var(--font-color);
  font-size: 12px;
  line-height: 20px;
}
/*------------------------------------------------ watch video section section styling end here ------------------------------------------------ */
/*------------------------------------------------ speakers section section styling start here ------------------------------------------------ */
.speakers-section {
  padding: 100px 0 90px;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.speakers-section .heading {
  margin-bottom: 8px;
}

.speakers-list {
  margin-top: 55px;
  overflow: hidden;
}

.speakers-item {
  margin-right: 1.6%;
}

.speakers-info {
  padding: 20px 0;
  background-color: var(--white-color);
}

.speaker-name {
  font-size: 15px;
  font-weight: 600;
}

.designation {
  color: var(--font-color);
  font-size: 11px;
  font-weight: 600;
}

.slick-dots {
  margin-top: 45px;
}

.slick-dots button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  background-color: #8f8f8f;
  text-indent: -9999px;
}

.slick-active button {
  background-color: var(--section-bg-color);
}
/*------------------------------------------------ speakers section section styling end here ------------------------------------------------ */
/*------------------------------------------------ programs section section styling start here ------------------------------------------------ */
.programs-section {
  padding: 93px 0 60px;
}

.programs-section .heading-content {
  margin-bottom: 27px;
}

.program-tab-list,
.program-list {
  width: 83%;
}

.program-list {
  flex-direction: column;
}

.program-item {
  padding: 33px 0;
  border-bottom:  3px solid #f9f9f9;
  display: none;
}

.program-item:nth-child(3n) {
  border-color: transparent;
}

.program-item:nth-child(1),
.program-item:nth-child(2),
.program-item:nth-child(3) {
  display: flex;
}

.program-tab-list {
  border-bottom: 1px solid #ddd;
}

.tab-item a {
  padding: 9px 12px;
  color: var(--black-color);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.tab-item.active a{
  color: var(--red-color);
}

.program-image {
  max-width: 110px;
  max-height: 110px;
  margin: 0 1.7%;
  border-radius: 50%;
  overflow: hidden;
}

.program-content {
  margin: 0 1.2%;
}

.program-name a {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  color: var(--black-color);
}

.time-location {
  margin: 8px 0;
  font-size: 10px;
  font-weight: 600;
}

.time-location span {
  display: inline-block;
}

.time::before,
.room-no::before {
  content: "\f017";
  height: 18px;
  font-family: "FontAwesome";
  float: left;
  margin-right: 3px;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.room-no::before {
  content: "\f041";
  margin-left: 5px;
}

.program-speaker {
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: 600;
  color: var(--font-color);
}

.program-info {
  color: var(--font-color);
  font-size: 12px;
  line-height: 22px;
}
/*------------------------------------------------ programs  section styling end here ------------------------------------------------ */
/*------------------------------------------------ register  section styling start here ------------------------------------------------ */
.register-section {
  padding: 110px 0;
  background: url(../images/register-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-color);
}

.register-section .heading {
  margin: 14px 0 10px;
}

.register-content {
  margin-right: 3%;
  flex-basis: 57%;
}

.register-form {
  margin-bottom: 12px;
  flex-basis: 40%;
}

.register-info {
  color: var(--font-color);
  font-size: 12px;
  line-height: 20px;
}

.register-info.bold {
  margin-bottom: 22px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}


.input-group input {
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid var(--white-color);
  background-color: transparent;
  outline: none;
  width: 100%;
}

.register-btn {
  padding: 14px 51px;
  margin: 7px 0;
  border: none;
  outline: none;
  border-radius: 25px;
  position: relative;
  left: 52.5%;
  background-color: var(--red-color);
  color: var(--white-color);
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*------------------------------------------------ register section  styling end here ------------------------------------------------ */
/*------------------------------------------------ faq/qeustion  section styling start here ------------------------------------------------ */
.questions-section {
  padding: 80px 0 72px;
  background-color: #f9f9f9;
}

.questions-section .heading,
.questions-section .heading-content {
  text-align: center;
}

.faq-list {
  width: 83%;
  margin: 60px auto 0;
  flex-direction: column;
}

.faq-item {
  margin-bottom: 8px;
}

.question {
  padding: 10px 25px;
  background-color: #f0f0f0;
}

.question::after {
  content: "+";
  float: right;
  font-weight: 600;
}

.question.active::after {
  content: "-";
}

.answer {
  padding: 17px 25px;
  background-color: var(--white-color);
}

.faq-answer {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  color: var(--black-color);
}

.question a {
  color: var(--black-color);
  font-size: 15px;
  font-weight: 600;
}
/*------------------------------------------------ faq/qeustion  section styling end here ------------------------------------------------ */
/*------------------------------------------------ venue  section styling start here ------------------------------------------------ */
.venue-section {
  padding: 72px 0 68px;
  background: url(../images/venue-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.venue-info {
  margin: 15px 0;
  color: var(--font-color);
  font-size: 12px;
  line-height: 20px;
}

.venue-content {
  width: 83%;
  margin: 0 auto;
  padding-right: 42%;
}

.venue-address {
  padding-right: 5%;
}

.venue-address .event-name {
  margin-bottom: 2px;
  display: inline-block;
  font-weight: 600;
}

.venue-address address {
  padding-right: 35%;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 25px;
}

.call {
  font-weight: 600;
}

.call-cta {
  color: var(--black-color);
}
/*------------------------------------------------ venue  section styling end here ------------------------------------------------ */
/*------------------------------------------------ sponsors  section styling start here ------------------------------------------------ */
.sponsors-section {
  padding: 76px 0 50px;
}

.sponsors-section .heading,
.sponsor-content {
  text-align: center;
}

.sponsors-section .heading {
  font-size: 21px;
}

.sponsor-content {
  color: var(--font-color);
  font-size: 10px;
  font-weight: 600;
}

.sponsors-list {
  width: 83%;
  margin: 40px auto 0;
  flex-wrap: wrap;
}

.sponsors-item {
  margin:0 2.5% 20px 0;
  flex-basis: 23.1%;
}

.sponsors-item:nth-child(4n) {
  margin-right: 0;
}
/*------------------------------------------------ sponsors  section styling end here ------------------------------------------------ */
/*------------------------------------------------ contact  section styling start here ------------------------------------------------ */
.contact-section {
  padding: 70px 0;
  background: url(../images/contact-bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-section .wrapper {
  padding: 0 11%;
}

.contact-heading {
  margin: 33px 0 18px;
  font-size: 18px;
  font-weight: 600;
}

.contact-box {
  margin-right: 4%;
  flex-basis: 48%;
}

.contact-form {
  padding: 42px 36px;
  background-color: var(--white-color);
  flex-basis: 48%;
}

.contact-content {
  margin-bottom: 10px;
  color: var(--font-color);
  font-size: 10px;
}

.download-btn {
  padding: 11px 30px;
  border-radius: 20px;
  margin: 25px 0;
  background-color: var(--red-color);
  color: var(--white-color);
  font-size: 9px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-form .heading {
  margin-bottom: 17px;
  font-size: 21px;
}

.input-box input,
.message {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  resize: none;
}

.message {
  height: 87px;
}

.input-box input::placeholder,
.message::placeholder {
  font-size: 11px;
}

.send-btn {
  padding: 12px 37px;
  border: none;
  border-radius: 20px;
  margin: 5px 8px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*------------------------------------------------ contact  section styling end here ------------------------------------------------ */








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  