@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*for wrapper*/
.wrapper {
  width: 71.5%; 
  margin: 0 auto;
}

/* common styling start here*/
body { font-family: 'Poppins', sans-serif; }
.flex { display: flex; }

.heading {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-content { font-size: 13px; }
/* common styling end here*/

:root {
  --white-color : #fff;
  --black-color : #454545;
  --red-color : #F1545F;
  --section-bg-color : #222;
  --secondary-bg-color : #f9f9f9;
  --font-color : #707070;
}

/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 28px 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.header .wrapper { justify-content: space-between; }

.logo {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.nav-item,
.logo {
  color: var(--white-color);
}

.nav-item {
  padding: 10px 11px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-nav { padding-right: 0; }


.bar {
  width: 25px;
  height: 3px;
  margin: 4px 0;
  display: block;
  background-color: var(--black-color);
  text-indent: -9999px;
}

.hamburger { display: none; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*------------------------------------------------ banner styling start here ------------------------------------------------ */
.banner {
  padding: 255px 0;
  background: url(../images/intro-bg.jpg);
  color: var(--white-color);
}

.banner .wrapper {
  justify-content: center;
}

.banner video {
  display: none;
}

address { display: inline-block; }

.event-date {
  display: inline-block;
  margin: 20px 0 13px;
  font-size: 24px;
  letter-spacing: 1px;
}

.banner-content { text-align: center; }

.banner-heading {
  margin-bottom: 43px;
  font-size: 37px;
  font-weight: 600;
  letter-spacing: 1px;
}

.learn-cta,
.register-cta {
  padding: 11px 34px;
  color: var(--white-color);
  font-size: 12px;
  text-transform: uppercase;
}

.learn-cta {
  margin-right: 12px;
  border: 2px solid var(--white-color);
}

.register-cta {
  border: 2px solid transparent;
  background-color: var(--red-color);
}
/*------------------------------------------------ banner styling end here ------------------------------------------------ */
/*------------------------------------------------ overview styling start here ------------------------------------------------ */
.overview-section {
  padding: 118px 0 145px;
}

.overview-content-box {
  padding-right: 4%;
  margin-right: 2%;
  flex-basis: 50%;
}

.overview-image {
  flex-basis: 49%;
}

.overview-heading {
  margin: 16px 0 20px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}

.overview-content {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
}
/*------------------------------------------------ overview styling end here ------------------------------------------------ */
/*------------------------------------------------ event details section styling start here ------------------------------------------------ */
.event-details-section {
  padding: 85px 0;
  background-color: var(--section-bg-color);
  color: var(--white-color);
}

.event-info-list {
  margin-bottom: 8px;
  gap: 1%;
}

.event-info-item {
  padding-right: 2%;
  margin-right: 1%;
  flex-basis: 32%;
  text-align: center;
}

.info-icon,
.event-info-title {
  display: block;
}

.info-icon {
  text-indent: -9999px;
}

.info-icon::before {
  margin-bottom: 20px;
  content: "\f0c0";
  width: 100%;
  color: #EF545F;
  font-size: 40px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.watch::before { content: "\f017"; }
.mic::before { content: "\f130";}

.event-info-title {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 600;
}

.event-info {
  font-size: 12px;
  line-height: 20px;
}
/*------------------------------------------------ event details section styling end here ------------------------------------------------ */
/*------------------------------------------------ watch video section section styling start here ------------------------------------------------ */

/*------------------------------------------------ watch video section section styling end here ------------------------------------------------ */
/*------------------------------------------------ speakers section section styling start here ------------------------------------------------ */
.speakers-section {
  padding: 100px 0 90px;
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.speakers-section .heading {
  margin-bottom: 8px;
}

.speakers-list {
  margin-top: 55px;
  overflow: hidden;
}

.speakers-item {
  min-width: 222px;
}

.speakers-item:nth-child(4n) {
  margin-right: 0;
}

.speakers-info {
  padding: 25px 0;
  background-color: var(--white-color);
}

.speaker-name {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 600;
}

.designation {
  font-size: 11px;
  font-weight: 600;
}

.slick-dots {
  margin-top: 45px;
}

.slick-dots button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
  background-color: #8f8f8f;
  text-indent: -9999px;
}

.slick-active button {
  background-color: var(--section-bg-color);
}
/*------------------------------------------------ speakers section section styling end here ------------------------------------------------ */








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  